@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

.roars {
	background: rgba(200, 200, 200, 0);
	/*border-radius: 0 0 16px 16px;*/
	/*box-shadow: 0px 0px 12px #222;*/
	display: inline-block;
	font-family: "Droid Sans";
	right: 0;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	padding: 10px;
	position: fixed;
	width: 30%;
	z-index: 1000;
}

.roar {
	position: relative;
	background-color: #fff;
	color: #000;
	/*opacity: 0.8;*/
	margin-bottom: 6px;
	border-radius: 0 4px 4px 0;
	border: 1px solid #aaa;
}

.roar.success {
	/*border: 2px solid #99CC00;*/
	border-left: 18px solid #99CC00;
}

.roar.error {
	/*border: 2px solid #FF4444;*/
	border-left: 18px solid #FF4444;
}

.roar.warning {
	/*border: 2px solid #FFBB33;*/
	border-left: 18px solid #FFBB33;
}

.roar.info {
	border-left: 18px solid #33B5E5;
}

.roar > div {
	padding: 0 0.5em;
}

.roar-title {
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.roar-icon {
	text-align: center;
	padding: 0 5px;
}

.roar-msg {
	padding: 8px 0;
	font-size: 12px;
}

/*.roar-actions {
	position: absolute;
	top: 0;
	right: 0;
	padding: 3px;
	text-align: right;
}*/

.roar-ca {
	position: absolute;
	right: 16px;
	top: 0;
}

.roar-img {
	height: 12px;
	width: 12px;
}

.roar-close {
	position: absolute;
	top: 1px;
	right: 1px;
}

.roar-icon img {
	height: 36px;
	width: 36px;
}

button.roar-btn {
	margin-left: 0;
	margin-bottom: 0.4em;
	border-radius: 1px;
	padding: 4px 0;
	min-width: 6em;
	font-size: 0.8em;
	background: #eee;
	border: 1px solid #E2E2E2;
	cursor: pointer;
}

button.roar-btn:hover {
	border: 1px solid #bbb;
	box-shadow: 0 0 2px #bbb;
}

input.roar-input:focus {
	/* outline: none; */
	border: 1px solid #BBB;
	box-shadow: 0 0 3px #bbb;
}

input.roar-input {
	padding: 4px;
	outline: none;
	border: 1px solid #ccc;
	margin-left: 0;
}

img {
	cursor: pointer;
}
